body{
  background-color: black;
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  text-align: center;
  margin-top: 15px;
  font-size: 50px;
}

.school-logo {
  width: 100px;
  top: 0;
  left: 10px;
  position: absolute;
}

#welcome {
  font-size: 40px;
}

#about {
  font-size: 20px;
  text-align: center;
}

.navBar {
  text-align: center;
}

.button {
  background-color: #7b25a2;
  border: none;
  color: gold;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bolder;
  margin: 0px 20px 20px 20px;
  transition-duration: 0.2s;
  cursor: pointer;
  border: 2px solid #7b25a2;
}

.button:hover {
  background-color: gold;
  color: #7b25a2;
  border: 2px solid #7b25a2;
}

h2 {
  text-align: center;
}

h3 {
  font-size: 35px;
  margin-bottom: 10px;
  text-decoration: underline;
}

#filterNameForm {
  width: 27.5% 
}

#filterSelectTeam {
  width: 27.5%;
}

#filterSelectPosition {
  width: 27.5%;
}

.filter {
  display: inline-block;
  text-align: center;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 50px;
}

.App {
  margin-left: 5%;
  margin-right: 5%;
}

#playerListTitle {
  margin-top: 0;
}

.playerList {
  text-align: left;
  float: left;
  width: 30%;
  font-size: 20px;
}

.playerList:hover {
  cursor: pointer;
}

.playerCard {
  float: left;
  width: 70%;
  background-color:purple;
  color: white;
  border-radius: 20px;
}

.cardHeader {
  background-color: gold;
  padding-top: 30px;
  padding-bottom: 30px;
}

/* #cardHeader {
  font-size: 30px;
  float: left;
  padding-left: 5%;
  padding-right: 20%;
  padding-top: auto;
  padding-bottom: auto;
  color: purple;
} */

#position {
  font-size: 20px;
  margin-top: 5px;
}

#playerName {
  font-size: 30px;
  margin-top: 40px;
}

#playerTitle {
  position: relative;
  color: purple;
  float: left;
  margin-left: 50px;
  margin-right: 200px;
}

#cardText {
  
  font-size: 20px;
  font-weight: bolder;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: gold;
  color: purple;
}

.listOfClasses {
  font-size: 20px;
  text-align: justify;
}

input[type=text], select {
  font-family: Arial, Helvetica, sans-serif;
  width: auto;
  padding: 8px 20px;
  margin: 5px 10px;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 60%;
  background-color: gold;
  color: purple;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 20%;
  margin-right: 20%;
}

input[type=submit]:hover {
  background-color: purple;
  color: gold;
}

.newPlayerContainer {
  border-radius: 5px;
  background-color: #aaaaaa;
  padding: 20px;
  margin-left: 15%;
  margin-right: 15%;
}

.nameContainer {
  overflow:hidden;
  width:auto;
  display:inline;
}

#number {
  width: 80px;
  text-align: center;
}


.selectContainer {
  overflow: hidden;
  width: auto;
  display: inline;
}

.classContainer {
  display: inline;
  margin-left: auto;
  margin-right: auto;
}

.classList {
  width: 100%;
  display: contents;
}

.fail {
  color: red
}

.warning {
  color: yellow
}

.pass {
  color: white
}

#fail {
  color: red
}

#warning {
  color: yellow
}

#pass {
  color: white
}